<footer class="page-footer 1565c0 blue darken-3 gradient-shadow">
    <div class="footer-copyright">
        <div class="container">
            <span>
                        Copyright ©<a class="grey-text text-lighten-4" target="_blank">
                       </a>
                All rights reserved. </span>
            <span class="right hide-on-small-only">
                <a class="grey-text text-lighten-4" >
                        </a></span>
        </div>

        <div class="fixed-action-btn">
            <a class="btn btn-floating btn-large cyan pulse">
                <i class="material-icons">add</i>
            </a>
            <ul>
                <li>
                    <a href="css-helpers.html" class="btn-floating blue">
                        <i class="material-icons">help_outline</i>
                    </a>
                </li>
                <li>
                    <a href="@routes.BranchesController.generateExcelReport" class="btn-floating green">
                        <i class="material-icons">widgets</i>
                    </a>
                </li>
                <li>
                    <a href="app-calendar.html" class="btn-floating amber">
                        <i class="material-icons">today</i>
                    </a>
                </li>
                <li>
                    <a href="app-county.html" class="btn-floating red">
                        <i class="material-icons">mail_outline</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
    <!-- jQuery Library -->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
    <!--angularjs-->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/angular.min.js")"></script>
    <!--materialize js-->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/materialize.min.js")"></script>
    <!--prism -->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/prism.js")"></script>
    <!--scrollbar-->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/perfect-scrollbar.min.js")"></script>
    <!--jsgrid-->
    <!--data-->
    <!--table-jsgrid.js - Page Specific JS codes-->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/jsgrid.min.js")"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
    <!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/custom-script.js")"></script>