
/* page styles */


.overflow-panel {
    overflow-x: auto;
    min-height: 0.01%;
    width: 200%;
    margin: 20px;
}

.wide-load {
    width: 600px;
    height: 800px;
    background-color: #f0f0f0;
}


/* floating-scroll stuff */
.fl-scrolls {
    bottom:0;
    height:35px;
    overflow:auto;
    position:fixed;
}
.fl-scrolls div {
    height:1px;
    overflow:hidden;
}
.fl-scrolls div:before {
    content:""; /* fixes #6 */
}
.fl-scrolls-hidden {
    bottom:9999px;
}